@font-face {
  font-family: "Bloxyl";
  src:
    local("Bloxyl"),
    url("assets/Bloxyl.otf");
}

body {
  background-color: #101012;
  
  padding-top: 60px;
  padding-left: calc(24px);
  padding-right: calc(24px);
  
	font-family: 'Bloxyl';
	color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
}

hr {
  border-color: #404050;
  background-color: #404050;
  height: 2px;
  border: 0;
  margin: 24px 0px;
}

p, li {
  font-family: inherit;
  color: inherit;
  font-weight: normal;
  font-size: 18px;
  
  text-align: justify;
}

h1 {
  font-family: inherit;
  color: inherit;
  font-weight: normal;
  font-size: 32px;
}

h2 {
  font-family: inherit;
  color: inherit;
  font-weight: normal;
  font-size: 24px;
  line-height: 0;
}

h3 {
  font-family: inherit;
  color: inherit;
  font-weight: normal;
  font-size: 22px;
  line-height: 0;
}

a {
	color: #BBEEFF;
}

.centered {
  display: flex;
  justify-content: center;
}

.container {
  width: 768px;
}

.centeredText {
  text-align: center;
}